#root {
  max-width: 1280px;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.section {
  min-height: 100vh;
  width: 98.9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-number {
  width: 100px;
  height: 35px;
  font-size: 18px;
}
.input {
  width: 300px;
  height: 35px;
  font-size: 18px;
}
.input-text-field {
  width: 300px;
  height: 35px;
  font-size: 18px;
}

p {
  max-width: 800px;
  margin: 10px;
}

h1 {
  margin: 40px;
}

.factorial-description {
  margin-top: -20px;
  margin-bottom: 35px;
}

.floating {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 52px;
  bottom: 50px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: 0px solid black;

  button:focus,
  button:focus-visible {
    outline: 0px auto -webkit-focus-ring-color;
  }
}
.floating-list {
  position: fixed;
  padding: 0;
  padding-left: 5px;
  padding-right: 8px;
  border-radius: 8px;
  right: 55px;
  bottom: 100px;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: none;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes showFloating {
  from {
    bottom: -100px;
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }

  to {
    opacity: 1;
    bottom: 90px;
    height: 250px;
    background-color: #1a1a1aa2;
  }
}

@keyframes hideFloating {
  to {
    bottom: -100px;
    opacity: 0;
    height: 0px;
    overflow: hidden;
  }

  from {
    opacity: 1;
    bottom: 100px;
    height: 250px;
  }
}

.floating-item {
  cursor: pointer;
  font-size: 20px;
}
.exercise-list {
  margin-bottom: 10px;
}
.spin {
  height: 60px;
}

span {
  text-decoration: underline;
  font-weight: 700;
}

.email-box {
  width: auto;
  max-width: 200px;
  background-color: #242424;
  border-radius: 6px;
  padding: 8px;
  margin: 10px;
  text-align: left;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
